@import "src/assets/colors.scss";
.wraper{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
width: 1120px;

font-family: 'Inter';
font-style: normal;
}
.navigation{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
    gap:8px;
    width: 153px;
    height: 24px;
    margin-top: 20px;
    margin-bottom: 32px;
}
.anchorНome{
font-weight: 400;
font-size: 16px;
line-height: 24px;
color:$secondary;
}
.darkAnchorНome{
    background-color: $secondary;
}
.pipeline{
width: 7px;
height: 24px;
color: $gray;
}
.postText{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $gray;
}

.contentFilling{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 72px;
.header{
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    color:$secondary;
    }
    .picture{
        max-width: 992px;
        max-height: 518px;
    }
    .textPost{
       width: 920px;
    height: 128px;
    overflow: hidden;
     font-weight: 400;
     font-size: 18px;
     line-height: 32px;
     color:$secondary;
     gap:65px;
    }
}
.icons{
    max-width: 920px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;

.leftIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 16px 32px;
    gap: 10px;
    background: $light;
    border-radius: 2px;
    
  
    .facebookIc{     
        align-items: center;
        width: 88px;
        height: 56px;
        box-shadow: 8px 8px 5px grey;
        &:hover{
            background-color: $primary-secondary;
            cursor: pointer;
        }
    }
    .twiterIc{
        width: 88px;
        height: 56px;
        box-shadow: 8px 8px 5px grey;
        &:hover{
            background-color: $primary-secondary;
            cursor: pointer;
        }
    }
    .moreIcon{
        width: 88px;
        height: 56px;
        text-align: center;
        justify-content: center;
        align-items: center;
        box-shadow: 8px 8px 5px grey;
        svg> path{
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
         }
        &:hover{
            background-color: $primary-secondary;
            cursor: pointer;
        }
    }
    }

    
    .darkIconContainer {
        div > svg > path {
          fill: $white;
        }
        .darkTitle {
            color: $white;
          }
          .darkText{
            color: $white;
          }
      }}