@import "/src/assets/mixins.scss";
@import "/src/assets/colors.scss";


.primaryButton{
 @include button();
 background-color: $primary;
 color:$white;
 &:hover{
    background-color: $primary-secondary;
 }
} 
.secondaryButton{
 @include button();
 background-color: $light;
 color:$secondary;
 &:hover{
    background-color: $medium;
 }
}
.errorButton{
@include button();
color: $error;
&:hover{
    background-color: $medium;
 }
}
.disabledButton{
    background-color:$light;
    color: $gray;
    &:hover{
        cursor: not-allowed;
        background-color:$light;
     }
}
