@import "src/assets/colors";

.modal {
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 0, 128, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: 5s !important;
  }
  .modalActive {
    opacity: 1;
    pointer-events: all;
    transition: 5s !important;
    border-radius: 12px;
  }
  .modalActive_content {
    transform: scale(1);
    transition: 5s !important;
    border-radius: 12px;
    &_Dark {
      background-color: #912ef2 !important;
    }
  }
  .modal_content {
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
        
    transform: scale(1);
    transition: 5s all !important;
  }

  .closeIcon{
    display: flex;
    justify-content: start;
    align-items: start;
    padding:10px;
    cursor: pointer;
    background-color:azure;
    border-radius:100% 100% 100% 100%; 
}