@import "./src/assets/colors";

.containerSingUp {
  background-color: $light;
}
.containerDark{
  background-color: $secondary;
}
.backBtnHome {
  margin-top: 72px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
  margin-bottom: 32px;
  &:hover{
    cursor: pointer;
        color: $primary;
 }
}
.backBtnHomeDark{
  margin-left: 40px;
  color: $white;
  &:hover{
    cursor: pointer;
        color: $primary;
 }

}
.wrapperSingUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputContainer {
  border: 1px solid $medium;
  padding: 40px;
  margin-bottom: 40px;
 
}
.inputContainerDark{
  border-color: $gray;
}
.title {
  margin-left: 40px;
  text-align: start;
  margin-bottom: 72px;
}
.TextInput.placeholder{
  margin-left: 15px;
}
.button {
  text-align: center;
  margin-top: 48px;
  width: 544px;
}
.singUp {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $gray;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  & span {
    margin-left: 10px;
    color: $primary;
    &:hover{
      cursor: pointer;
          color: $primary;}
  }
}
.darkSingUp{
  margin-left: 10px;
  color:$medium;
  & span {
    color: $primary-secondary;
  }
}
.navButton {
  text-decoration: none;
  color: $primary;
  margin-left: 4px;
  &:hover {
    text-decoration: underline;
  }}