@import "src/assets/colors";
.container {
  display: flex;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 16px;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    svg > path {
      fill: $secondary;
    }
  }
}
.activeButton {
  svg > path {
    fill: $secondary;
  }
}
