@import "src/assets/colors";

.container {
  z-index: 1;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  position: fixed;
  top: 0;
  width: 100%;
}
.infoContainer {
  display: flex;
}
.buttonBlogo{
  height: 56px;
  width: 167px;
 
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: $white;
 background-image:url(../../../../public/Blogologo.svg);

}
.button {
  height: 56px;
  width: 56px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background:  #912EF2 103.13%;

  svg{
    width: 24px !important;
    }
}

.menuContainer {
  position: absolute;
  top: 56px;
  left: 0;
  background-color: $white;
  width: 236px;
  height: calc(100% - 56px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.authButton {
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
  background: linear-gradient(131.05deg, #4D0AC7 -9.67%, #912EF2 103.13%);
  &:hover {
    color: $primary;
    cursor: pointer;
  }
  svg{
    width: 24px !important;
  }
}
.actionsContainer {
  display: flex;
  flex-direction: column;
}
.navButton {
  border-bottom: 1px solid $light;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
    font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  &:hover {
    color: $primary;
    cursor: pointer;
  }
}
.activeNavButton {
  color: $primary;
}
.input {
  min-height: 84px;
  flex: 1;
  background-color: $primary-secondary;
  color: rgba(255, 255, 255, 0.5);
  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}